
.nav__list--active{
    @media screen and (max-width:768px){
        transform: translateX(0%);
    }
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}