.nav {
    &__container{
        align-items: center;
        height: 65px;
        display: flex;
        border-bottom: 1px solid #000000;
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    &__list{
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: 20%;
        background-color: rgb(255, 255, 255);
        @media (max-width: 991px){
            position: absolute;
            background-color: rgba(40, 40, 40, 0.9);
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;
            height: 0px;
            opacity: 0;
            z-index: -1;
        }
        
        &--active{
            @media (max-width: 991px){
                top: 65px;
                height: 100vh;
                opacity: 1;
                z-index: 100;
                transform: translate3d(0, 0, 0);
                transition: transform 0.2s, position 0.2s, opacity 0.6s 0.2s;
            }
        }
    }


    &__link {
        list-style: none;

        a {
            color: #000000;

        }
        @media (max-width: 991px){
            a {
                color: #ffffff;
            }
        }
    }

    .logo {
        position: absolute;
        display: flex;
        top: 0px;
        left: 0px;

        &__image {
            padding-left: 10px;
            img {
                padding-left: 10px;
                padding-top: 15px;
            }
        }
    
        &__text {
            padding-left: 25px;
            padding-top: 15px ;
            color: #000000;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 20px;
        }
    }

    .burger {
        cursor: pointer;
        @media (max-width: 991px){
            margin-left: auto;
            margin-right: 50px;
        }
        &__line {
            display: none;
            @media (max-width: 991px){
                display: block;
                width: 25px;
                height: 5px;
                background-color: #000000;
                margin: 5px;
                transform: none;
                opacity: 1;
                transition: transform 0.2s ease-in;
                transition: opacity 0.2s ease-in;
            }


        }

        // mobile only class
        &--active{
            .line1 {
                transform: rotate(-45deg) translate(-8px, 6px);
                transition: transform 0.2s ease-in;

            }
            .line2 {
                opacity: 0;
            }
            .line3{
                transform: rotate(45deg) translate(-8px, -7px);
                transition: transform 0.2s ease-in;

            }
        }


    }
    .cart {
        margin-right: 50px;

        &__image {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

