.nav {
    &__container{
        align-items: center;
        min-height: 65px;
        background-color: rgb(255, 255, 255);
        display: flex;
        border-bottom: 1px solid #000000;
    }

    &__list{
        width: 40%;
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: 100px;
        @media screen and (max-width:768px){
            position: absolute;
            right: 0px;
            top: 65px;
            height: calc(100% - 65px);
            background-color: rgba(20, 20, 20, 0.9);
            flex-direction: column;
            align-items: center;
            width: 100%;
            display: none;
            margin: 0;
        }
        
        &--active{

            @media screen and (max-width:768px){
                display: flex;
            }
        }
    }


    &__link {
        list-style: none;
        opacity: 1;

        a {
            color: #000000;

        }
        @media screen and (max-width:768px){
        opacity: 0;
            a {
                color: #ffffff;
            }
        }
    }

    .logo {
        position: absolute;
        display: flex;
        top: 0px;
        left: 0px;

        &__image {
            padding-left: 10px;
            img {
                max-height: 64px; // -1px because of nav bottom-border
            }
        }
    
        &__text {
            padding-left: 25px;
            padding-top: 15px ;
            color: #000000;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 20px;
        }
    }

    .burger {
        cursor: pointer;
        @media screen and (max-width:768px){
            margin-left: auto;
            margin-right: 100px;
        }
        &__line {
            display: none;
            @media screen and (max-width:768px){
                display: block;
                width: 25px;
                height: 5px;
                background-color: #000000;
                margin: 5px;
                transform: none;
                opacity: 1;
                transition: transform 0.2s ease-in;
                transition: opacity 0.2s ease-in;
            }


        }

        // mobile only class
        &--active{
            .line1 {
                transform: rotate(-45deg) translate(-8px, 6px);
                transition: transform 0.2s ease-in;

            }
            .line2 {
                opacity: 0;
            }
            .line3{
                transform: rotate(45deg) translate(-8px, -7px);
                transition: transform 0.2s ease-in;

            }
        }


    }
}

