
<div class="section section--right section__top ">
    <div class="flex-container">
        <h1 class="text text--spaced">Phil Patterson</h1>
         <h2 class="text text--spaced text--border">Check out my projects</h2>
         <h2 class="text text--spacedtext--border">Check out my Adventures</h2>
    </div>
</div>

<div class="section section__bottom">
    <div class="flex-container">
        <h1 class="text text--spaced text--underline">About</h1>
    </div>
    <div class="flex-container">
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae cupiditate in incidunt alias quo asperiores consectetur dolorum nihil non, blanditiis quibusdam enim nisi aspernatur veritatis consequuntur quia earum, quae ad?</p>
     </div>
</div>


